name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login into ghcr.io registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Compute version
        run: |
          SHA_SHORT="${GITHUB_SHA::7}"
          echo "SHA_SHORT=$SHA_SHORT"
          echo "SHA_SHORT=$SHA_SHORT" >> $GITHUB_ENV

          REPO_LOWER=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          echo "REPO_LOWER=$REPO_LOWER"
          echo "REPO_LOWER=$REPO_LOWER" >> $GITHUB_ENV

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ env.REPO_LOWER }}:${{ env.SHA_SHORT }}
            ghcr.io/${{ env.REPO_LOWER }}:latest
